@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
:root{
    --darkbgColor: #0b0707;
    --darkbuttonColor: #44403a;
    --darkCardColor: #221f1e;
    --opponentColor: #410c11;
    --heroColor: #6f7b6f;
    --npcColor: #2b3a34;
    --darkText: #ddd;
}

h1 {
    font-weight: 400;
    font-size: 2.5em;
}
h1, h2, h3{
        font-family: 'Modern Antiqua', serif; 
        color: #ccc;
}

text{
    font-family: 'Modern Antiqua', serif
}

body{
    background-color: var(--darkbgColor);
}

#initiative-board {
    display: flex;
    gap: 20px; /* Space between sections */
    align-items: flex-start; /* Align to top */
}

#combatantDetails {
    flex: 1; /* Takes available space */
    min-width: 300px; /* Minimum width */
    background-color: var(--darkCardColor);
    color: #ccc;
}

.initiativeList {
    flex: 4;
    width: 100%;
    background-color: var(--darkbuttonColor);
    padding: 10px;

}

.text-box {
    display: block;
    margin-top: 20px;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25%;
    max-width: 300px;
    font-size: 14px;
    font-family: 'Modern Antiqua', serif; 
}
.stattext-box{
    display: block;
    margin-top: 20px;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30px;
    max-width: 300px;
    font-size: 14px;
    font-family: 'Modern Antiqua', serif;     
}
.initstattext-box{
    display: block;
    margin-top: 20px;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30px;
    max-width: 300px;
    font-size: 14px;
    font-family: 'Modern Antiqua', serif;     
}
.hpstattext-box{
    display: block;
    margin-top: 20px;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30px;
    max-width: 300px;
    font-size: 14px;
    font-family: 'Modern Antiqua', serif;     
}
.acstattext-box{
    display: block;
    margin-top: 20px;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30px;
    max-width: 300px;
    font-size: 14px;
    font-family: 'Modern Antiqua', serif;     
}
.healdamstattext-box{
    display: block;
    margin-top: 20px;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30px;
    max-width: 300px;
    font-size: 14px;
    font-family: 'Modern Antiqua', serif;     
}
.nameTextbox {
    display: block;
    margin-top: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25%;
    max-width: 300px;
    font-size: 14px;
    font-family: 'Modern Antiqua', serif; 
}
.body{
    margin: 20px;
}
.basic-button,.dice-roller-button{
    background-color: #58545f;
    max-width: 500px;
    height: 90px;
    color: white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid;
    border-color: #39363d;
    font-family: 'Modern Antiqua', serif; 
    margin:1%;
}

.heal-button{
    background-color: #3f704d;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Modern Antiqua', serif; 
}
.damage-button{
    background-color: #4d0000;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Modern Antiqua', serif; 
}
.removecharacterbutton{
    background-color: #4e4747;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Modern Antiqua', serif; 
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-family: 'Modern Antiqua', serif; 
}
.section {
    display: flex;
    align-items: center;
    background-color: var(--darkCardColor);
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Modern Antiqua', serif; 
}
.NewCombatant-section {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 3%;
    font-family: 'Modern Antiqua', serif; 
}
.Control-section {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    font-family: 'Modern Antiqua', serif; 
}
.Playersection-text{
    margin-right: 20px;
    padding-right: .5%;
    font-weight: bold;
    font-size:x-large;
    font-family: 'Modern Antiqua', serif; 
}
.section-text {
    margin-right: 20px;
    padding-right: 10px;
    font-weight: bold;
    font-family: 'Modern Antiqua', serif; 
}
.modifier-text {
    margin-right: 20px;
    padding-right: 10px;
    width: 30%;
    font-weight: bold;
    font-family: 'Modern Antiqua', serif; 
}
.indented-section {
    margin-left: 40px;
    margin-bottom: 40px;
}
.removeCharacterbutton{
    background-color: #58545f;
    color: white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Modern Antiqua', serif; 
}
.Player-section {
    border: 3px solid;
    display: flex;
    width: 100% - 10px;
    align-items: center;
    position: relative;
    /*border-image: linear-gradient(45deg, #ece1d9, #74c7ca, #6fe2dc, #13298b) 1;*/
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    background-color: #ccc;
    box-shadow: inset 0 0 20px rgba(81, 19, 139, 0.3);
    font-family: 'Modern Antiqua', serif; 
    cursor: move;
}
.Enemy-section {
    border: 3px solid;
    display: flex;
    width: 100% - 10px;
    align-items: center;
    position: relative;
    color: #ccc;
    /*border-image: linear-gradient(45deg, #ece1d9, #74c7ca, #6fe2dc, #13298b) 1;*/
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    background-color: var(--opponentColor);
}
.Neutral-section {
    border: 3px solid;
    display: flex;
    width: 100% - 10px;
    align-items: center;
    position: relative;
    color: #ccc;
    /*border-image: linear-gradient(45deg, #ece1d9, #74c7ca, #6fe2dc, #13298b) 1;*/
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    background-color: var(--npcColor);

}
.NewCampaignInput{
    color: #ccc;
}
.corner-decoration {
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.corner-tl {
    top: -10px;
    left: -10px;
    background-image: url('./icons/topleft.png');
}

.corner-tr {
    top: -10px;
    right: -10px;
    background-image: url('./icons/topright.png');
}

.corner-bl {
    bottom: -10px;
    left: -10px;
    background-image: url('./icons/bottomleft.png');
}

.corner-br {
    bottom: -10px;
    right: -10px;
    background-image: url('./icons/bottomright.png');
}
.sortable-ghost {
    opacity: 0.4;
}

.sortable-chosen {
    background-color: #e6f3ff;
}

.sortable-drag {
    transform: rotate(5deg);
}